/* RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO BASE */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
    line-height: 1.6;
}

/* CONTENEDOR */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

/* HEADER & NAVBAR */
.header {
    background-color: #0f172a;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: c
